@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');

body.doctor-login-body {
    margin: 0;
    height: 100vh; /* Ensure the height covers the entire viewport */
    background: linear-gradient(180deg, rgba(192,97,210,1) 0%, rgba(181,68,140,1) 50%, rgba(46,48,121,1) 100%);
    background-image: url("/image/background.png");
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: auto 100%; 
}


.form-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin-right:30px ;
}
.signIn-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    // background-color: rgb(245,245,245,0.2);
    width: 50vh;
    padding: 5%

}

img{
width: 100px;
height: 100px;
}

.login-div{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 20px;
}

.signIn-InfoBox{
    display: flex;
    padding:10px;
    
}

.inputBox{
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 50px;
    height: 20px;
    width: 40vh;
    background-color: rgb(245,245,245,0.5);
    border-color: rgb(245,245,245,0.5);
}

div.submit-btn{
    display:flex;
    justify-content: flex-end;
    width: 85%;
    margin-top:10px; 
}

.submit-btn>button{
    border-radius: 20px;
}