@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');

body {
    margin: 0;
    height: 100vh; /* Ensure the height covers the entire viewport */
    background: linear-gradient(180deg, rgba(192,97,210,1) 0%, rgba(181,68,140,1) 50%, rgba(46,48,121,1) 100%);
    background-image: url("/image/background.png");
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: auto 100%; 
}


